In [60]:
import numpy as np 
import yfinance as yf 
import pandas as pd 
from stockstats import wrap, unwrap
import seaborn as sns
import datetime

In [267]:
#get data 
ticker = yf.Ticker("BABA")
time_data = ticker.history(start='2022-09-30',
    end='2022-11-05')

In [268]:
time_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27 entries, 2022-09-29 to 2022-11-04
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          27 non-null     float64
 1   High          27 non-null     float64
 2   Low           27 non-null     float64
 3   Close         27 non-null     float64
 4   Volume        27 non-null     int64
 5   Dividends     27 non-null     int64
 6   Stock Splits  27 non-null     int64
dtypes: float64(4), int64(3)
memory usage: 1.7 KB

In [269]:
time_data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,27.000000,27.000000,27.000000,27.000000,2.700000e+01,27.0,27.0
mean,73.062593,74.762074,71.427036,73.115925,2.591581e+07,0.0,0.0
std,7.084395,6.899420,7.386977,7.085413,2.038241e+07,0.0,0.0
min,63.200001,64.099998,58.009998,63.150002,1.158360e+07,0.0,0.0
25%,65.960003,68.165497,64.875000,65.849998,1.427915e+07,0.0,0.0
50%,73.279999,75.779999,71.550003,73.019997,1.838790e+07,0.0,0.0
75%,78.395000,79.490002,77.219997,79.149998,2.653480e+07,0.0,0.0
max,84.099998,86.290001,83.519997,84.389999,1.010232e+08,0.0,0.0

In [270]:
time_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-29,78.050003,79.190002,76.739998,79.059998,17913600,0,0
2022-09-30,78.739998,81.779999,78.650002,79.989998,17116900,0,0
2022-10-03,79.760002,80.925003,78.050003,80.449997,13249600,0,0
2022-10-04,83.000000,85.032997,82.339996,84.110001,18252000,0,0
2022-10-05,84.099998,86.290001,83.250000,84.389999,13194000,0,0

In [271]:
df = wrap(time_data)
df.head()

,open,high,low,close,volume,dividends,stock splits
Date,,,,,,,
2022-09-29,78.050003,79.190002,76.739998,79.059998,17913600,0,0
2022-09-30,78.739998,81.779999,78.650002,79.989998,17116900,0,0
2022-10-03,79.760002,80.925003,78.050003,80.449997,13249600,0,0
2022-10-04,83.000000,85.032997,82.339996,84.110001,18252000,0,0
2022-10-05,84.099998,86.290001,83.250000,84.389999,13194000,0,0

In [272]:
df['rsi']
df['close_5_sma']
df['close_10_sma']
df.tail(10)

,open,high,low,close,volume,dividends,stock splits,rs_14,rsi,close_5_sma,close_10_sma
Date,,,,,,,,,,,
2022-10-24,63.389999,64.099998,58.009998,63.150002,101023200,0,0,0.278858,21.805261,70.991998,73.085999
2022-10-25,65.080002,66.179001,61.259998,63.220001,69302400,0,0,0.282735,22.041592,68.367999,71.870999
2022-10-26,63.360001,69.800003,62.919998,68.510002,52957400,0,0,0.598254,37.431718,67.816000,71.148999
2022-10-27,65.440002,67.879997,65.419998,65.839996,25812600,0,0,0.510673,33.804340,66.580000,70.231998
2022-10-28,63.200001,64.150002,61.820000,63.740002,28638000,0,0,0.454336,31.240114,64.892001,69.303999
2022-10-31,63.490002,64.849998,63.220001,63.580002,20645300,0,0,0.450261,31.046878,64.978001,67.984999
2022-11-01,68.010002,68.450996,65.639999,65.860001,27257000,0,0,0.587925,37.024728,65.506001,66.937000
2022-11-02,66.480003,67.669998,64.330002,64.699997,28298100,0,0,0.546689,35.345777,64.743999,66.280000
2022-11-03,63.419998,66.879997,63.400002,65.209999,23360500,0,0,0.579898,36.704761,64.618000,65.599000
2022-11-04,71.169998,71.639999,67.449997,69.809998,51292200,0,0,0.902462,47.436545,65.831999,65.362000

In [273]:
#logic for rsi
# return true for a sell signal, false for a buy signal and None if nothing is happening. 
def rsi_sell_bool(time=1):
    t=-time 
    if time> 1:
        for i in range(time,1,-1):
            if df['rsi'].iloc[-i] >= 70:
                print('sell rsi',np.round(df['rsi'].iloc[-i],2))
                return True
            elif df['rsi'].iloc[-i]<= 30:
                print('buy rsi',np.round(df['rsi'].iloc[-i],2))
                return False
    else:
        if df['rsi'].iloc[t] >= 70:
            print('sell rsi',np.round(df['rsi'].iloc[t],2))
            return True
        elif df['rsi'].iloc[t]<= 40:
            print('buy rsi',np.round(df['rsi'].iloc[t],2))
            return False

In [274]:
#logic for sma 
#returns true is sell signal, false for buy signal, None for no signal
def sma_sell_cross():
    if df['close_5_sma'].iloc[-2] > df['close_10_sma'].iloc[-2] and \
    df['close_5_sma'].iloc[-1] <= df['close_10_sma'].iloc[-1]:
        print('sell sma')
        return True
    elif  df['close_5_sma'].iloc[-2] < df['close_10_sma'].iloc[-2] and \
    df['close_5_sma'].iloc[-1] >= df['close_10_sma'].iloc[-1]:
        print('buy sma')
        return False

In [279]:
#main logic 
#returns true if both signals indicate sell, false if both signal indicate buy 
def logic(time):
    sma = sma_sell_cross()
    rsi = rsi_sell_bool(time)
    if sma == True and rsi == True: 
        print('sell sma and rsi')
        return True
    elif sma == False and rsi== False:
        print('buy sma and rsi')
        return False

In [280]:
time = 9 
logic(time)

buy sma
buy rsi 22.04
buy sma and rsi

False